body{
	margin-left: 20px;
	margin-right: 20px;
	line-height: 150%;
	margin-top: 0;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 100%;
	margin-top: 0;
}

html{
	min-width: 412px;
	min-height: 732px;
}

h1 {
	color: navy;	
	font-family: "Times New Roman", monospace;
	font-size: 42px;
	color: black;
	margin-left: 10px;
}

hr {
	width: 100%;
}

p {
	color: #ee3e80;
	margin-left: 10px;
}

nav{
	text-align: right;
}

nav .gnb {		
	max-width: 100%;
	background-color: #262c26;
}

nav .gnb ul{
	overflow: hidden;
	height: 30px;
	line-height: 30px;
	margin:0 auto;
}

nav .gnb li{
	float: left;
	margin-right: 100px;
	list-style: none;
	font-size: .9em;
}

nav a{
	margin: 20px;
	margin-right: 20px;
	font-size: .9em;
    color:#ffffff; 
    text-decoration:none;
    font-family: Verdana, Geneva, sans-serif;
}

a:hover {
	background-color: #CD5C5C;
}

div .intro {
	position: absolute;
}

.intro img{
	width: 70%;
	height: 580px;
	position:absolute;
	margin-left: 8px;
}

.intro p{
	font-size: 14px;
	margin-left: 71%;
	margin-right: 8%;
}

label{
	float: left;
	clear: left;
	width: 100px;
	text-align: left;
	margin-left: 42%;
}

form input{
	float: center;
	text-align: center;
	width: 200px;
	background-color: rgb(200, 200, 200);
	text-align: center;
}

form .button{
	width:	50%;
	float: right;
	padding: 12px;
	text-transform: uppercase;
	position: absolute;
	left: 50%;
}

input:invalid {
	border: 2px solid red;
}

input:invalid +div{
	display: black;
}

input:focus + div{
	display: none;
}

input:active + div{
	display: blue;
}
