#name{
	font-size: 40px;
}

#signin{
	color: #ffffff;
	font-size: 70%;
	margin-left: -2%;
}

#signup{
	color: #ffffff;
	font-size: 70%;
	text-align: right;
}

.topbar{
	max-width: 100%;
	background-color: #262e26;
	margin-left: 5%;
	margin-right: 5%;
}

#toptitle{
	left: 50%;
	position: relative;
	width: 200px;
	text-align: center;
	margin-left: -100px;
	border-bottom: 4px solid #000000;
}

/*
#map{
	width: 80%;
	height: 76%;
	position: absolute;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}
*/

#map {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	width: 89.3%;
	height: 80%;
	margin-top: 20px;
}
