
#name{
	font-size: 40px;
}

#signin{
	color: #ffffff;
	font-size: 70%;
	margin-left: -2%;
}

#signup{
	color: #ffffff;
	font-size: 70%;
	text-align: right;
}

.topbar{
	max-width: 100%;
	background-color: #262e26;
	margin-left: 5%;
	margin-right: 5%;
}

#toptitle{
	left: 50%;
	position: relative;
	width: 200px;
	text-align: center;
	margin-left: -100px;
	border-bottom: 4px solid #000000;
}

#map{
	width: 90%;
	height: 100%;
	margin: 0;
	position: relative;
	background-color: blue;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 20px;
}
